# {{ ansible_managed }}
# Explicitly allow commands certificate generation user can use to notify services of new cert.

{% if lle_sudo_reload_commands|length > 0 %}
Cmnd_Alias     RELOAD =  {{ lle_sudo_reload_commands }}
{{ lle_certificate_user }} ALL=(ALL) NOPASSWD: RELOAD
{% endif %}
# Allow certificate user to pass ownership to certificates for read-only access to other groups.
{% for entry in lle_domains%}
{{ lle_certificate_user }} ALL=NOPASSWD: /bin/chown -R {{ lle_certificate_user }}\:{{ entry.group }} {{ lle_dehydrated_repo }}/certs/{{ entry.name }}
{% endfor %}
